*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/indexPics/Background_cat_dog.jpg);
    background-size: 1975px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.container
{
    padding-top: 200px;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Commissioner";
}

.card-title
{
    font-size: 1.9rem;
    font-weight: bold;
    font-family: "Commissioner";
}

.card
{
    background-color: #d93073 !important;
    opacity: 96%;
    border-radius: 20px !important;
    margin-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 2px 5px, rgba(0, 0, 0, .60) 0px 2px 4px;
}

.lista, .about
{
    font-size: large;
    list-style: none;
    padding: 0;
}

.move-card{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.move-card:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.subContainer{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.subContainer:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.subContainer{
    max-width: 1110px;
    margin: 0 auto;
    opacity: 96%;
}

.card-title{
    font-family: "Commissioner" !important;
    font-size: 1.9rem;
}

.card-text{
    font-family: "Commissioner" !important;
    font-size: large;
}

@media (max-width: 1024px){
    body{
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    
}