*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/indexPics/vet_clinic_little_rock_vets.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.container
{
    padding-top: 200px;
    text-align: center;
    font-size: 1.5rem;
    font-family: commissioner;

}

.card-title
{
    font-size: 1.9rem;
    text-decoration: in line;
    font-family: commissioner;
}

/* .card-deck
{
    /* justify-content: center; */
    /* align-items: center; */
    /* display: inline-block; 
} */
.card
{
    /* display: inline-block;
    text-align: center; */
    background-color: #d93073 !important;
    opacity: 90%;
}

.lista
{
    list-style: none;
    padding: 0;
}

