* {
    margin: 0;
    padding: 0;
}



.header h1 {
    font-size: 45px;
    margin: auto;
    line-height: 50px;
    font-family: var(--body-font) !important;
    color: var(--main-pink) !important;
    font-weight: bold;
}

.row {
    border-radius: 12px !important;
}

.card {
    background-color: var(--main-pink) !important;
    cursor: pointer;
    border: transparent !important;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 2px 5px, rgba(0, 0, 0, .60) 0px 2px 4px;

}

.card-img-top {
    height: 23vw;
    object-fit: fill;
    background-color: white;
}

h2 {
    font-weight: bolder !important;
    font-size: 28px !important;
    text-transform: uppercase;
    color: white;
    font-family: var(--body-font) !important;
}

.job {
    font-style: italic;
    font-size: 18px;
    color: white;
    font-family: var(--body-font) !important;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    font-size: 18px;
    color: white;
    font-family: var(--body-font) !important;
}

.card:hover {
    background-color: var(--main-pink) !important;
    transition: .4s;
}

.card:hover .social-links {
    background-color: var(--main-pink) !important;
    transition: .4s;
}


.social-links {
    background-color: var(--main-pink) !important;
    font-size: 28px;
    border-color: transparent !important;
}

.social-links a {
    display: inline-block;
    transition: .4s;
}

.social-links a:hover {
    transform: scale(1.5);
}

.social-links a i {
    color: white;
}

@media (max-width: 700px) {

    .card {
        min-width: 200px;
        max-height: 100%;
    }

    .card-img-top {
        height: 85vw;

    }

    .cardMobile {
        min-width: 100% !important;
    }
}