*{
    margin: 0;
    padding: 0;
}
body {
    background-color: gainsboro;
}

.mainContainer{
  display: grid;
  background-color: white;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 10rem;
  padding-block: 2rem;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 5px, rgba(0, 0, 0, 0.24) 0px 2px 4px;
  font-family: 'Commissioner', sans-serif;
}

#alertLoginSuccess, #alertLoginFail, #alertValidaciones{
    font-family: 'Commissioner', sans-serif;
    font-weight: bold;
}

h2{
    font-size: 2rem;
    font-weight: bold;
}
.containerForm{
    font-weight: bold;
}

.containerLogin{
    padding: 0 3rem;
}

.containerRegistration{
    padding: 0 3rem;
    border-left: 1px solid var(--main-pink);
}

.container-top-left{
    color: var(--main-pink);
    text-align: center;
	float: left;
	width: 100%;
	padding-top: 25px;
}

.btn{
    font-size: .78rem;
    background-color: var(--main-pink);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: bold;
}

#btnRegistrar:hover{
  color: gainsboro;
}

@media (max-width: 768px) {
    .mainContainer {
        display: table-row;
        max-width: 100%;
    }
    .superContainer{
      border-spacing: 1rem;
      margin-top: 8rem;
    }
    .containerLogin{
        padding-bottom: 1rem;
    }
    .containerRegistration{
    border-left: none;
    border-top: 1px solid var(--main-pink);
    padding-bottom: 1rem;
    overflow: hidden;
  }
}