.titulo {
    text-align: center;
    color: #D93073;
    font-family: 'Commisioner' sans-serif;
    padding-top: 50px;
}

.form {
    padding: 3%;
    background-color: gainsboro;
    margin: 3%;
    display: block;
    font-family: 'Comissioner' sans-serif;
    border-radius: 10px;
}

.form-group {
    margin: 1em;
}

.form-control {
    border-radius: 12px;
}

#botonAgregar {
    align-content: center;
}

.btnAdd {
    align-items: center;
    margin: 1em;
    background-color: #D93073;
    border-radius: 5px;
    border-color: #D93073;
    border-width: 1px;
    border-style: solid;
    color: aliceblue;
    align-items: center;
}

.inventario {
    padding: 3%;
    color: #D93073;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.table {
    max-width: 960px;
    align-items: center;
    margin: 0 auto;
    margin-top: 0px;
    font-family: 'Comissioner' sans-serif;
    padding: 2fr;
}

#btnDelete {
    background-color: #D93073;
    border-radius: 10px;
    border: #D93073;
    color: aliceblue;
}

.productImage {
    max-width: 80px;
}


@media screen and (width < 575px) {
    .body {
        max-width: 100%;
    }

    .form {
        max-width: 100%;
    }

    .productTable {
        /*falta responsivo de la tabla */
        max-width: 100%;
    }
}