

.carrusel {
    padding-top: 70px;
}



.title {
    color: #D24686;
    text-align: center;
    font-size: 2rem;
    font-family: 'Fraunces';
}


.btn-primary {
    background-color: #D24686 !important;
    border-color: #D24686 !important;
    font-weight: bold !important;
}


:root{
    --color: #D24686;
}

.colorPet{
    background-color: #FFA1CC !important;
}

.colorBtn{
    
    background-color: #D93073 !important;
}

.colorTitulo{
    color: #D93073 !important;
}
