

.carrusel {
    padding-top: 60px;
}



.title {
    color: var(--main-pink) !important;
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--title-font);
    font-weight: bold !important;
}


.btn-primary {
    background-color: var(--main-pink) !important;
    border-color: var(--main-pink) !important;
    font-weight: bold !important;
}


:root{
    --color: var(--main-pink) !important;
}

.colorPet{
    background-color: var(--secondary-pink) !important;
}

.colorBtn{
    
    background-color: var(--main-pink) !important;
}

.colorTitulo{
    color: var(--main-pink) !important;
}

.borde{
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    
}

.bordetop{
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
}

.card-text{
    font-family: 'Commissioner' !important;
    font-weight: bold !important;
}