

.carrusel {
    padding-top: 70px;
}



.title {
    color: #d93073;
    text-align: center;
    font-size: 2rem;
    font-family: 'Fraunces';
}


.btn-primary {
    background-color: #d93073 !important;
    border-color: #d93073 !important;
    font-weight: bold !important;
}


:root{
    --color: #d93073;
}

.colorPet{
    background-color: #ffa1cc !important;
}

.colorBtn{
    
    background-color: #D93073 !important;
}

.colorTitulo{
    color: #D93073 !important;
}

.borde{
    border-bottom-left-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    
}

.bordetop{
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
}

.card-text{
    font-family: 'Commissioner' !important;
    font-weight: bold !important;
}