.container
{
    font-family: var(--body-font) !important;
    font-weight: bold !important;
}

.horario{
    text-align: center;
    color: var(--main-pink) !important;
    display: inline-block;
    transition: .4s;
}

.socialMedia {
    margin: 1rem;
    padding-top: 4rem ;
    text-align: center;
    min-width:fit-content;
}

.socialMedia a {
    display: inline-block;
    transition: .4s;
}

.direction
{
    display: inline-block;
    height: auto;
    transition: .4s;
    color: var(--main-pink) !important;
}

.socialMedia a:hover {
    transform: scale(1.5);
}

.socialMedia a i {
    color: var(--main-pink) !important;

}

.btn
{
    font-family: var(--body-font);
    font-weight: bold;
    background-color: var(--main-pink) !important;
    border-color: var(--main-pink) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}

body{
    min-width: 100vh;
}