.container
{
    font-family: commissioner;
}

.horario{
    text-align: center;
    color: #D24686 !important;
    display: inline-block;
    height: 30px;
    width: 450px;
    transition: .4s;
}

.socialMedia {
    margin: 10px;
    padding-top: 60px;
    text-align: center;
    min-width:fit-content;
}

.socialMedia a {
    display: inline-block;
    height: 30px;
    width: 90px;
    transition: .4s;
}

.direction
{
    display: inline-block;
    height: auto;
    width: 300px;
    transition: .4s;
    color: #D24686;
}

.socialMedia a:hover {
    transform: scale(1.5);
}

.socialMedia a i {
    color: #D24686;

}

.btn
{
    font-family: 'Inter';
    font-weight: bold;
    background-color: #D24686 !important;
    border-color: #D24686!important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
}