/* .card {
    padding: 10px;
    display: grid;
} */

.carrusel {
    padding-top: 70px;
}

.card-title {
    text-align: center;
    font-size: 1.5 rem;
    font-family: var(--title-font);
    color: var(--main-pink);
}

.title {
    color: var(--main-pink);
    text-align: center;
    font-size: 2rem;
    font-family: var(--title-font);
}

.rounded-costume {
    border-radius: 2rem;
}


/* #products {
    text-align: center;
    font-family: 'Commissioner', 'sans-serif' !important;
    align-items: center;
} */

.btn-primary {
    background-color: var(--main-pink) !important;
    border-color: var(--main-pink) !important;
    font-weight: bold !important;
}

.card-text {
    text-align: center;
    font-family: var(--body-font) !important;
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
}

.img-change {
    width: 200px;
    height: 200px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.newP {
    height: 12rem;
}

.special-img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.change {
    align-content: center;
}

.gap4 {
    gap: 2rem;
}

.centrar-div {
    justify-content: center !important;
}

.card-footer {
    border-top: none !important;
}


/* @media (max-width:1024px) {
    .centro {
        height: 10rem !important;
        width: 10rem !important;
    }
    .img-change {
        height: 10rem !important;
        width: 10rem !important;
    }
    .card-47 {
        width: 80% !important;
    }
} */