#body {
    background: #f5f5f5;
    max-width: 100%;
    max-height: 100%;
}


/*HOME*/

.banner {
    /* BANNER PAPASITO CHULO*/
    margin-top: 4%;
    width: 100%;
    margin: 0;
    padding-top: 55px;
}

.banner-img {
    width: 100%;
}

.products {
    font-family: var(--title-font) !important;
    font-weight: bold !important;
    font-size: 2.5rem;
    color: var(--main-pink) !important;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}


/*Productos*/

.card-title {
    text-align: center;
    font-size: 2rem;
    font-family: var(--title-font) !important;
    color: var(--main-pink);
}

.title {
    color: var(--main-pink);
    text-align: center;
    font-size: 2rem;
    font-family: var(--title-font) !important;
}

.rounded-costume {
    border-radius: 2rem;
}

.btn-primary {
    background-color: var(--main-pink) !important;
    border-color: var(--main-pink) !important;
    font-weight: bold !important;
    align-self: center !important;
}

.card-text {
    font-family: var(--body-font) !important;
    text-align: justify;
    text-justify: inter-word;
}

.img-change2 {
    width: 120px;
    height: 200px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.newP {
    height: 12rem;
}

.special-img {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.special-img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.change {
    align-content: center;
}

.gap4 {
    gap: 2rem;
}

.centrar-div {
    justify-content: center !important;
}

.card-footer {
    border-top: none !important;
}


/* Service*/

.btn-primary {
    font-weight: bold !important;
    background-color: var(--main-pink) !important;
    border-color: var(--main-pink) !important;
    font-size: 0.8rem !important;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: bold !important;
}

.service {
    color: var(--main-pink) !important;
    font-family: var(--title-font) !important;
    font-size: 2rem;
    font-weight: bold !important;
    text-align: center;
    opacity: 1;
    margin: 30px 0;
}

.text1 {
    width: 252px;
    color: rgba(255, 255, 255, 1);
    top: 15px;
    left: 240px;
    font-family: var(--title-font) !important;
    font-weight: bold !important;
    font-size: 33px;
    opacity: 1;
    text-align: center;
}

.btn-primary {
    font-family: var(--body-font) !important;
    background-color: var(--main-pink) !important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
    border-color: var(--main-pink) !important;
}


/*Recomendations */

.testimony {
    text-align: center;
    font-size: small;
    font-family: var(--body-font) !important;
    align-items: center;
}