* {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: grid;
}

.btn{
    font-size: .78rem;
    background-color: #D24686;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    font-weight: bold;
}