* {
    margin: 0;
    padding-top: 0;
}

.title
{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Fraunces';
    font-weight: bold;
    color: #D24686;
}

.carrusel {
    width: auto;
    padding-bottom: 2%;
    padding-top: 60px;

}

.servicios{
    margin: 80px;
    margin-top: 10px;
    text-align: center;
    
}

.card-deck
{
    padding: 10px;
    
}

.card
{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
    font-family: commissioner;
    font-size: 1rem;
}

.card-title
{
    font-size: 2rem;
    font-family: Fraunces;
    color: #D24686;
}

.card-footer
{
    background-color: #FFA1CC !important;
}

#listaCremación
{
    font-family: commissioner;
    text-align: left;
    list-style: square;
    padding-left: 30px;
}

.btn
{
    font-family: 'Inter';
    font-weight: bold;
    background-color: #D24686 !important;
    border-color: #D24686!important;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; 
   
}

li::marker 
{
	color: #D24686;
}