.title {
  margin-top: 100px;
  color: var(--main-pink);
  font-family: var(--title-font);
  text-align: center;
}

.card {
  width: 75%;
  border-radius: 10px;
  align-content: center;
  padding: 10%;
  margin: 0 auto;
  background-image: url(/assets/shoppingCartDog.png);
  background-size: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left center;
  font-family: 'Comissioner' sans-serif;
  color: #D24686;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .main {
    width: 100%;
  }

  .card {
    grid-template-columns: 1;
  }
}