.title {
  margin-top: 100px;
  color: var(--main-pink) !important;
  font-family: var(--title-font) !important;
  text-align: center;
}

.text-title2 {
  color: var(--main-pink) !important;
  -webkit-text-stroke: 1px var(--secondary-pink) !important;
  font-family: var(--title-font) !important;
  /* font-weight: bold !important; */
  font-size: 2.5rem;
  border-color: var(--main-pink) !important;
}

.tituloCarrito {
  text-align: center;
}

.badgepill {
  text-align: right;
}

.card {
  width: 75%;
  border-radius: 10px;
  align-content: center;
  padding: 10%;
  margin: 0 auto;
  background-image: url(/assets/shoppingCartDog.png);
  background-size: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left center;
  font-family: var(--body-font) !important;
  color: var(--main-pink) !important;
}

.btnDelete {
  border: none;
  background: none;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .main {
    width: 100%;
  }

  .card {
    grid-template-columns: 1;
  }
}