.title {
  margin-top: 100px;
  color: var(--main-pink);
  font-family: var(--title-font);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  min-width: 1200px;
  width: 30%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border-radius: 10px;
}

.left {
  align-items: center;
}

.dogImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.right {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  row-gap: 24px;
  padding: 35px 40px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@media (max-width: 768px) {
  .card {
    max-width: 100%;
  }

  .left {
    padding-bottom: 1rem;
  }

  .right {
    padding-bottom: 1rem;
    overflow: hidden;
  }

  .dogImage {
    max-width: fit-content;
  }
}