body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/indexPics/vet_clinic_little_rock_vets.jpg);
    background-size: 500px;
}

.container
{
    padding-top: 70px;

}

.card-deck
{
    padding-top: 70px;
    /*display: none;
    padding-bottom: 550px;*/

}
.card
{
    
    text-align: center;
    background-color: #d93073 !important;
    opacity: 70%;
}
